.spinner-inner {
    animation: spin 3s linear infinite, fadeInOut 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.5;
    }
}

nb-chat .header {
    border: none;
}

::ng-deep nb-context-menu nb-menu {
    text-align: left;
}

::ng-deep nb-menu .menu-item a {
    padding: 10px 0 10px 40px;
}